
<div class="container">
    <div class="row">
        <div class="col-md-6" ng-repeat="item in vm.lstPage">
            <div class="page-item">
                <img src="{{item.picture.data.url}}" alt="#">
                <a ng-click="vm.goToPost(item)">{{item.name}}</a>
            </div>
        </div>
    </div>
</div>