
<div class="screen-right">
        <div class="row">
                <div class="col-md-12 col-full">
                    <!-- Message list -->
                    <div class="col-md-3 col-xs-4 col-left">
                        <div class="row">
                            <!-- sidebar menu: : style can be found in sidebar.less -->
                            <div class="col-bar-left">
                                <ul class="sidebar-menu tree" data-widget="tree">
                                    <li class="active treeview menu-open">
                                        <a href="#" title="Lọc theo thời gian">
                                            <i class="fa fa-circle fa-2x"></i>
                                        </a>
                                        <a href="#" title="Lọc chưa đọc">
                                            <i class="fa fa-file-o fa-2x"></i>
                                        </a>
                                        <a href="#" title="Lọc có số điện thoại">
                                            <i class="fa fa-phone fa-2x"></i>
                                        </a>
                                        <a href="#" title="Lọc không có sô điện thoại">
                                            <i class="fa fa-user-times fa-2x"></i>
                                        </a>
                                        <a href="#" title="Lọc chưa trả lời">
                                            <i class="fa fa-reply fa-2x"></i>
                                        </a>
                                        <a href="#" title="Lọc theo thời gian">
                                            <i class="fa fa-calendar fa-2x"></i>
                                        </a>
                                        <a href="#" title="Ẩn comment">
                                            <i class="fa fa-commenting-o fa-2x"></i>
                                        </a>
                                        <a href="#" title="Auto posts">
                                            <i class="fa fa-send fa-2x"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="box-scroll-left">
                                <div class="nav-tab-class">
                                    <div id="exTab1" class="">
                                        <ul class="nav nav-pills">
                                            <li class="active">
                                                <a href="#1a" data-toggle="tab" title="Tất cả">
                                                    <i class="fa fa-asterisk"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#2a" data-toggle="tab" title="Tin nhắn">
                                                    <i class="fa fa-envelope"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#3a" data-toggle="tab" title="Bình luận">
                                                    <i class="fa fa-comment-o"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#4a" data-toggle="tab" title="Chưa đọc">
                                                    <i class="fa fa-low-vision"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#5a" data-toggle="tab" title="Tag">
                                                    <i class="fa fa-tag"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="top-bar">
                                            <form class="navbar-form" role="search">
                                                <div class="input-group add-on">
                                                    <input class="form-control" placeholder="Tìm kiếm" name="srch-term"
                                                        id="srch-term" type="text">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-default" type="submit"><i
                                                                class="glyphicon glyphicon-search"></i></button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-content clearfix">
                                            <div class="tab-pane active" id="1a">
                                                <ul class="sidebar-menu">
                                                    <li class="list-person-class" ng-repeat="item in vm.listCommentFb track by $index" ng-click="vm.commentClickDetail(item.id, $index)">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img src="{{vm.imgPage}}"
                                                                    class="media-object circleImgClass" style="width:45px">
                                                            </div>
                                                            <div class="media-body">
                                                                <div class="person-detail-class">
                                                                    <p>{{ item.from.name }}</p>
                                                                    <span class="pull-right"><i>{{item.created_time | date:'dd-MM-yyyy hh:mm'}}</i></span>
                                                                </div>
                                                                <div class="truncated">{{ item.message }}</div>
                                                                <!-- <div class="pull-left">
                                                                    <h5 class="media-heading">{{ item.from.name }}</h5>
                                                                    <p>{{ item.message }}</p>
                                                                </div>
                                                                <span class="pull-right"><i>{{item.created_time | date:'dd-MM-yyyy hh:mm'}}</i></span> -->
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="tab-pane" id="2a">
                                                <h3>We use the class nav-pills instead of nav-tabs which automatically creates a
                                                    background color for the tab</h3>
                                            </div>
                                            <div class="tab-pane" id="3a">
                                                <ul class="sidebar-menu">
                                                    <li class="list-person-class" ng-repeat="item in vm.listCommentFb track by $index" ng-click="vm.commentClickDetail(item.id, $index)">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img src="{{vm.imgPage}}"
                                                                    class="media-object circleImgClass" style="width:45px">
                                                            </div>
                                                            <div class="media-body">
                                                                <div class="person-detail-class">
                                                                    <p>{{ item.from.name }}</p>
                                                                    <span class="pull-right"><i>{{item.created_time | date:'dd-MM-yyyy hh:mm'}}</i></span>
                                                                </div>
                                                                <div class="truncated">{{ item.message }}</div>
                                                                <!-- <div class="pull-left">
                                                                    <h5 class="media-heading">{{ item.from.name }}</h5>
                                                                    <p>{{ item.message }}</p>
                                                                </div>
                                                                <span class="pull-right"><i>{{item.created_time | date:'dd-MM-yyyy hh:mm'}}</i></span> -->
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="tab-pane" id="4a">
                                                <h3>We use css to change the background color of the content to be equal to the
                                                    tab</h3>
                                            </div>
                                            <div class="tab-pane" id="5a">
                                                <h3>We use css to change the background color of the content to be equal to the
                                                    tab</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
        
                            </div>
                        </div>
                    </div>
                    <!-- Message detail -->
                    <div class="col-md-6 col-xs-8 col-center">
                        <div class="row">
                            <div class="top-bar">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{vm.imgPage}}"
                                            class="media-object circleImgClass" style="width:30px">
                                    </div>
                                    <div class="media-body">
                                        <div class="pull-left">
                                            <h5 class="media-heading">Lê Tiến Hoàn</h5>
                                            <p><i>Xem bởi Hoàn Lê Tiến lúc 20:02</i></p>
                                        </div>
                                        <div class="pull-right">
                                            <i class="fa fa-ban" title="Chặn khách hàng"></i>
                                            <i class="fa fa-envelope" title="Đánh dấu chưa đọc"></i>
                                            <i class="fa fa-link" title="Sao chép đường dẫn hội thoại"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-scroll-colcenter">
                                <!-- <div ng-repeat="item in vm.listCommentFbDetail track by $index">
                                    {{item.message}}
                                </div> -->
                                <div class="col-xs-12">
                                    <span class="chatClass" ng-if="!vm.listCommentFbDetail.from">{{vm.listCommentFbDetail.message}}</span>
                                    <span class="chatColorClass" ng-else>{{vm.listCommentFbDetail.message}}</span>
                                </div>
                                <div ng-repeat="item in vm.listCommentFbDetail.comments.data track by $index" ng-if="vm.listCommentFbDetail.comments" class="col-xs-12">
                                    <span class="chatClass" ng-if="item.from !== ''">{{item.message}}</span>
                                    <span class="chatColorClass" ng-if="item.from === ''">{{item.message}}</span>
                                </div>
                            </div>
                            <div class="editer">
                                <div class="line1">
                                    <form id="send_text">
                                        <textarea placeholder="Nhập nội dung..."></textarea>
                                    </form>
                                </div>
                                <div class="line2">
                                    <div class="quick-replies-selector-container">
                                        <a>
                                            <div class="inbox-compose-addons-item">
                                                <i class="fa fa-comment-o" ></i>
                                                <span>Trả lời nhanh</span>
                                            </div>
                                        </a>
                                        <a>
                                            <div class="inbox-compose-addons-item">
                                                <i class="fa fa-image"></i>
                                                <span>Kho hình ảnh</span>
                                            </div>
                                        </a>
                                        <a>
                                            <div class="inbox-compose-addons-item">
                                                <i class="fa fa-camera"></i>
                                                <span>Tải hình</span>
                                            </div>
                                        </a>
                                        <a>
                                            <div class="inbox-compose-addons-item">
                                                <i class="fa fa-tag"></i>
                                                <span>Thêm tag</span>
                                            </div>
                                        </a>
                                        <button>Gửi</button>
                                    </div>
        
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- information -->
                    <div class="col-md-3 hidden-xs col-right">
                        <div class="media">
                            <div class="media-left media-middle">
                                <img src="{{vm.imgPage}}"
                                    class="media-object circleImgClass" style="width:80px">
                            </div>
                            <div class="media-body">
                                <b>
                                    <h3 class="media-heading">Lưu Công Thìn</h3>
                                </b>
                                <p><i class="fa fa-user"></i> <i>Tên khách hàng</i></p>
                                <p><i class="fa fa-phone"></i> <i>Số điện thoại</i></p>
                                <p><i class="fa fa-home"></i> <i>Địa chỉ</i></p>
                            </div>
                        </div>
                        <!-- <div>
                            <p>
                                <span>Điện thoại</span>
                                <span>Chưa có thông tin</span>
                            </p>
                            <p><i class="fa fa-phone"></i> <i>Số điện thoại</i></p>
                            <p><i class="fa fa-home"></i> <i>Địa chỉ</i></p>
                        </div> -->
                    </div>
                </div>
            </div>
</div>
