<header class="main-header" ng-if="vm.isShowNav">
    <div class="header-left">
        <a ui-sref="home"><img src="../../../content/images/logo.svg" class="logo-header"></a>
        <ul class="nav nav-tabs">
            <li>
                <a ui-sref="inbox" class="nav-item">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="#2962FF" d="M18.6979167,4.375 C19.4166667,4.375 20,4.95833333 20,5.67708333 L20,14.7916667 C20,15.5104167 19.4166667,16.09375 18.6979167,16.09375 L16.09375,16.09375 L16.09375,20 L12.1875,16.09375 L5.67708333,16.09375 L8.05729167,13.4895833 L16.09375,13.4895833 C16.8125,13.4895833 17.3958333,12.90625 17.3958333,12.1875 L17.3958333,4.375 L18.6979167,4.375 Z M1.30208333,0 L14.3229167,0 C15.0416667,0 15.625,0.583333333 15.625,1.30208333 L15.625,10.4166667 C15.625,11.1354167 15.0416667,11.71875 14.3229167,11.71875 L7.8125,11.71875 L3.90625,15.625 L3.90625,11.71875 L1.30208333,11.71875 C0.583333333,11.71875 0,11.1354167 0,10.4166667 L0,1.30208333 C0,0.583333333 0.583333333,0 1.30208333,0 Z"/></svg> -->
                    <span>Hội thoại</span>
                </a>
            </li>
            <li>
                <a ui-sref="posts" class="nav-item">
                    <span>Bài viết</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="header-right">
        <button class="btn btn-flat" ng-click="vm.login()" ng-show="!vm.account">
            <span>Login</span>
        </button>
        <!-- <fb:login-button scope="public_profile,email,pages_messaging,pages_show_list,user_events,pages_manage_cta,user_photos,manage_pages" ng-click="vm.login()"> </fb:login-button> -->
        <!-- <p ng-show="vm.account">{{vm.account}}</p> -->
    </div>
</header>