.content-wrapper {
  margin: 0;
  min-height: inherit !important; }
  .content-wrapper .main-content {
    background-color: #eee; }

.body {
  background: #eee; }

.main-header {
  height: 60px;
  border-bottom: 1px solid #ccc;
  padding: 10px 0 10px 0 !important;
  background: #fff; }
  .main-header .header-left {
    float: left;
    display: flex; }
    .main-header .header-left .logo-header {
      height: 40px;
      margin: 0 30px; }
    .main-header .header-left ul {
      border: none; }
      .main-header .header-left ul .nav-item svg {
        width: 20px; }
      .main-header .header-left ul .nav-item span {
        font-size: 15px;
        font-weight: 700;
        margin-left: 10px; }
  .main-header .header-right {
    float: right; }

.screen-right .col-full {
  display: flex;
  flex-wrap: wrap; }
  .screen-right .col-full .circleImgClass {
    border-radius: 50%; }
  .screen-right .col-full .col-left .col-bar-left {
    position: absolute;
    width: 50px;
    border-right: 1px solid #ddd;
    height: calc(100vh - 42px);
    background: #053b8b; }
    .screen-right .col-full .col-left .col-bar-left ul li {
      padding: 0; }
      .screen-right .col-full .col-left .col-bar-left ul li a {
        border: 0;
        background: 0;
        color: #5685cb;
        padding: 12px 5px 12px 5px;
        text-align: center; }
        .screen-right .col-full .col-left .col-bar-left ul li a:hover {
          background: #0a1f44; }
  .screen-right .col-full .col-left .box-scroll-left {
    position: absolute;
    left: 50px;
    border-right: 1px solid #ddd;
    right: 0; }
    .screen-right .col-full .col-left .box-scroll-left .nav-tab-class #exTab1 .nav-pills li {
      width: 20%;
      margin: 0;
      border-bottom: 3px solid #eee; }
      .screen-right .col-full .col-left .box-scroll-left .nav-tab-class #exTab1 .nav-pills li a {
        text-align: center;
        background: #fff;
        color: #a6aebc;
        border-top-color: #fff; }
        .screen-right .col-full .col-left .box-scroll-left .nav-tab-class #exTab1 .nav-pills li a:hover {
          color: #0a1f44; }
    .screen-right .col-full .col-left .box-scroll-left .nav-tab-class #exTab1 .nav-pills .active {
      border-color: transparent transparent #f3f3f3;
      border-bottom: 3px solid !important; }
      .screen-right .col-full .col-left .box-scroll-left .nav-tab-class #exTab1 .nav-pills .active a {
        color: #0a1f44; }
    .screen-right .col-full .col-left .box-scroll-left .top-bar {
      margin: 10px 0px;
      height: 45px;
      display: flex;
      align-items: center; }
      .screen-right .col-full .col-left .box-scroll-left .top-bar .navbar-form {
        margin: 0; }
        .screen-right .col-full .col-left .box-scroll-left .top-bar .navbar-form #srch-term {
          background: #f5f5f5;
          height: 33px;
          border-radius: 4px 0px 0px 4px; }
    .screen-right .col-full .col-left .box-scroll-left .sidebar-menu {
      height: calc(100vh - 153px);
      overflow: auto; }
      .screen-right .col-full .col-left .box-scroll-left .sidebar-menu::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5; }
      .screen-right .col-full .col-left .box-scroll-left .sidebar-menu::-webkit-scrollbar {
        width: 8px;
        background-color: #F5F5F5; }
      .screen-right .col-full .col-left .box-scroll-left .sidebar-menu::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #b5b5b5; }
      .screen-right .col-full .col-left .box-scroll-left .sidebar-menu li {
        border-bottom: 1px solid #eee;
        padding: 10px 10px; }
        .screen-right .col-full .col-left .box-scroll-left .sidebar-menu li:hover {
          background: #ddd;
          cursor: pointer; }
        .screen-right .col-full .col-left .box-scroll-left .sidebar-menu li .person-detail-class {
          display: flex; }
          .screen-right .col-full .col-left .box-scroll-left .sidebar-menu li .person-detail-class p {
            margin: 0; }
          .screen-right .col-full .col-left .box-scroll-left .sidebar-menu li .person-detail-class span {
            margin-left: auto; }
        .screen-right .col-full .col-left .box-scroll-left .sidebar-menu li .truncated {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: block;
          color: #999;
          font-size: 12px !important;
          width: 80%;
          margin-top: 5px; }
  .screen-right .col-full .col-center {
    border-right: 1px solid #ddd;
    min-height: calc(100vh - 42px); }
    .screen-right .col-full .col-center .top-bar {
      background: #fff;
      padding: 5px 10px;
      height: 45px; }
      .screen-right .col-full .col-center .top-bar .media {
        display: flex; }
        .screen-right .col-full .col-center .top-bar .media .media-body {
          display: flex;
          align-items: center; }
          .screen-right .col-full .col-center .top-bar .media .media-body .pull-left h5 {
            margin: 0; }
          .screen-right .col-full .col-center .top-bar .media .media-body .pull-left p {
            margin: 0; }
            .screen-right .col-full .col-center .top-bar .media .media-body .pull-left p i {
              font-size: 11px;
              color: #999; }
          .screen-right .col-full .col-center .top-bar .media .media-body .pull-right {
            margin-left: auto; }
            .screen-right .col-full .col-center .top-bar .media .media-body .pull-right i {
              font-size: 20px;
              margin-right: 4px;
              padding-right: 7px;
              color: #a6aebc; }
              .screen-right .col-full .col-center .top-bar .media .media-body .pull-right i:hover {
                color: #ff5721; }
    .screen-right .col-full .col-center .box-scroll-colcenter {
      position: absolute;
      top: 45px;
      overflow: auto;
      left: 0;
      right: 0;
      bottom: 0;
      overflow-x: hidden;
      padding: 10px 10px 25px 10px;
      bottom: 120px;
      background: #f5f5f5;
      border-top: 1px solid #ddd; }
      .screen-right .col-full .col-center .box-scroll-colcenter::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5; }
      .screen-right .col-full .col-center .box-scroll-colcenter::-webkit-scrollbar {
        width: 8px;
        background-color: #F5F5F5; }
      .screen-right .col-full .col-center .box-scroll-colcenter::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #b5b5b5; }
      .screen-right .col-full .col-center .box-scroll-colcenter .chatClass {
        background-color: rgba(82, 97, 115, 0.1);
        display: block;
        padding: 3px 10px 5px;
        border-radius: 5px;
        float: left;
        font-size: 14px;
        max-width: 350px;
        min-width: 150px;
        color: #000;
        border-bottom: 2px solid transparent;
        position: relative;
        margin-top: 5px; }
      .screen-right .col-full .col-center .box-scroll-colcenter .chatColorClass {
        color: #fff;
        margin: 0;
        background-color: #009cde;
        float: right;
        display: block;
        padding: 3px 10px 5px;
        border-radius: 5px;
        float: right;
        font-size: 14px;
        max-width: 350px;
        min-width: 150px;
        color: #000;
        border-bottom: 2px solid transparent;
        position: relative;
        margin-top: 5px; }
    .screen-right .col-full .col-center .editer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 120px;
      padding: 15px 10px 5px;
      background-color: #fff;
      border-top: 1px solid #ddd; }
      .screen-right .col-full .col-center .editer .line1 textarea {
        width: 100%;
        border-radius: 4px; }
      .screen-right .col-full .col-center .editer .line2 .quick-replies-selector-container {
        display: flex;
        margin-top: 5px; }
        .screen-right .col-full .col-center .editer .line2 .quick-replies-selector-container a {
          margin: 0px 10px; }
          .screen-right .col-full .col-center .editer .line2 .quick-replies-selector-container a .inbox-compose-addons-item {
            color: #8a94a6;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2px 0; }
          .screen-right .col-full .col-center .editer .line2 .quick-replies-selector-container a:hover {
            cursor: pointer; }
        .screen-right .col-full .col-center .editer .line2 .quick-replies-selector-container button {
          margin-left: auto; }
  .screen-right .col-full .col-right {
    padding: 10px 15px; }
    .screen-right .col-full .col-right .media-body p {
      padding-top: 5px; }

* {
  font-size: 14px; }
  * p {
    margin: 0; }

.posts-layout {
  background: #fff;
  padding-top: 10px; }
  .posts-layout .aos-all {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    width: 60%;
    max-width: 98%;
    margin: 0 auto 0 auto; }
    .posts-layout .aos-all .aos-item {
      position: relative;
      background-color: #fff;
      border: 1px solid #ccc;
      border-top: 5px solid #ccc;
      padding: 10px 15px 30px;
      margin: 10px;
      display: inline-block;
      float: left; }
      .posts-layout .aos-all .aos-item:hover {
        border-top: 2px solid #eee;
        border-bottom: 2px solid #eee;
        box-shadow: 0px 0px 10px 0px #323232;
        transform: scale(1.025);
        z-index: 2; }
      .posts-layout .aos-all .aos-item:before {
        content: "";
        position: absolute;
        top: -2px;
        bottom: -2px;
        width: 2px; }
      .posts-layout .aos-all .aos-item:before {
        left: -2px; }
      .posts-layout .aos-all .aos-item:after {
        right: -2px; }
      .posts-layout .aos-all .aos-item .grid-header {
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
        margin: 0 0 15px; }
        .posts-layout .aos-all .aos-item .grid-header span {
          font-size: 12px;
          color: #777; }
        .posts-layout .aos-all .aos-item .grid-header b {
          color: #009cde; }
      .posts-layout .aos-all .aos-item .grid-picture img {
        max-height: 250px;
        width: 100%;
        margin-bottom: 10px; }
      .posts-layout .aos-all .aos-item .grid-picture ul {
        margin: 0 0 10px;
        padding: 0;
        list-style: none;
        display: flex;
        overflow: auto; }
        .posts-layout .aos-all .aos-item .grid-picture ul li {
          display: inline-block;
          margin-right: 5px; }
          .posts-layout .aos-all .aos-item .grid-picture ul li img {
            height: 50px;
            width: 50px; }
        .posts-layout .aos-all .aos-item .grid-picture ul::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: #F5F5F5; }
        .posts-layout .aos-all .aos-item .grid-picture ul::-webkit-scrollbar {
          width: 8px;
          height: 8px;
          background-color: #F5F5F5; }
        .posts-layout .aos-all .aos-item .grid-picture ul::-webkit-scrollbar-thumb {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: #b5b5b5; }
      .posts-layout .aos-all .aos-item .grid-text p {
        margin: 0 0 10px;
        max-height: 250px;
        white-space: pre-wrap;
        overflow: auto; }
        .posts-layout .aos-all .aos-item .grid-text p::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: #F5F5F5; }
        .posts-layout .aos-all .aos-item .grid-text p::-webkit-scrollbar {
          width: 8px;
          height: 8px;
          background-color: #F5F5F5; }
        .posts-layout .aos-all .aos-item .grid-text p::-webkit-scrollbar-thumb {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: #b5b5b5; }
      .posts-layout .aos-all .aos-item .grid-footer {
        border-top: 1px solid #ccc;
        padding-top: 5px;
        bottom: 0;
        left: 10px;
        right: 10px;
        height: 30px;
        letter-spacing: 5px;
        position: absolute; }
        .posts-layout .aos-all .aos-item .grid-footer .pull-right i {
          font-size: 20px;
          color: #337ab7; }
  .posts-layout .loading button {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 2px;
    border: 0;
    color: #fff;
    background-color: #00a65a; }

.page-item {
  background-color: #fff;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 10px; }
  .page-item img {
    width: 100px;
    margin-right: 10px;
    border-radius: 5px; }
  .page-item a {
    text-decoration: unset;
    font-size: 20px;
    font-weight: bold;
    color: #333; }
    .page-item a:hover {
      text-decoration: unset; }

@media screen and (max-width: 800px) {
  .aos-item {
    width: 100%; } }
