.content-wrapper {
    margin: 0;
    min-height: inherit !important;
    .main-content {
        background-color: #eee;
    }
}
.body{
    background: #eee;
}

.main-header{
    height: 60px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0 10px 0!important;
    background: #fff;
    .header-left{
        float: left;
        display: flex;
        .logo-header{
            height: 40px;
            margin: 0 30px;
        }
        ul{
            border: none;
            .nav-item{
                svg{
                    width: 20px;
                }
                span{
                    font-size: 15px;
                    font-weight: 700;
                    margin-left: 10px;
                }
            }
        }
    }
    .header-right{
        float: right;
    }
}

.screen-right {
    .col-full {
        display: flex;
        flex-wrap: wrap;

        .circleImgClass {
            border-radius: 50%;
        }
        .col-left {
            .col-bar-left {
                position: absolute;
                width: 50px;
                border-right: 1px solid #ddd;
                height: calc(100vh - 42px);
                background: #053b8b;

                ul {
                    li {
                        padding: 0;
                        
                        a {
                            border: 0;
                            background: 0;
                            color: #5685cb;
                            padding: 12px 5px 12px 5px;
                            text-align: center;

                            &:hover {
                                background: #0a1f44;
                            }
                        }
                        

                    }
                    
                }
            }
            .box-scroll-left {
                position: absolute;
                left: 50px;
                border-right: 1px solid #ddd;
                right: 0;
                
                .nav-tab-class {
                    
                    #exTab1 {
                        .nav-pills {
                            li {
                                width: 20%;
                                margin: 0;
                                border-bottom: 3px solid #eee;
                                a {
                                    text-align: center;
                                    background: #fff;
                                    color: #a6aebc;
                                    border-top-color: #fff;

                                    &:hover {
                                        color: #0a1f44;
                                    }
                                }
                            }
                            .active {
                                border-color: transparent transparent #f3f3f3;
                                border-bottom: 3px solid !important;

                                a {
                                    color: #0a1f44;
                                }
                            }
                        }
                    }
                }

                .top-bar {
                    // border-bottom: 1px solid #ddd;
                    margin: 10px 0px;
                    height: 45px;
                    display: flex;
                    align-items: center;
                    
                    .navbar-form {
                        margin: 0;

                        #srch-term {
                            background: #f5f5f5;
                            height: 33px;
                            border-radius: 4px 0px 0px 4px;
                        }
                    }
                }
                .sidebar-menu {
                    height: calc(100vh - 153px);
                    overflow: auto;

                    &::-webkit-scrollbar-track {
                        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                        
                        background-color: #F5F5F5;
                    }
                    &::-webkit-scrollbar {
                        width: 8px;
                        background-color: #F5F5F5;
                    }
                    &::-webkit-scrollbar-thumb {
                        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                        background-color: rgb(181, 181, 181);
                    }

                    li {
                        border-bottom: 1px solid #eee;
                        padding: 10px 10px;
                        
                        &:hover {
                            background: #ddd;
                            cursor: pointer;
                        }

                        .person-detail-class {
                            display: flex;

                            p {
                                margin: 0;
                            }
                            span {
                                margin-left: auto;
                            }
                        }
                        .truncated {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            display: block;
                            color: #999;
                            font-size: 12px!important;
                            width: 80%;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
        .col-center {
            border-right: 1px solid #ddd;
            min-height: calc(100vh - 42px);
    
            .top-bar {
                background: #fff;
                padding: 5px 10px;
                height: 45px;
                
                .media {
                    display: flex;

                    .media-body {
                        display: flex;
                        align-items: center;
                        
                        .pull-left {
                            h5 {
                                margin: 0;
                            }
                            p {
                                margin: 0;

                                i {
                                    font-size: 11px;
                                    color: #999;
                                }
                            }
                        }
                        .pull-right {
                            margin-left: auto;

                            i {
                                font-size: 20px;
                                margin-right: 4px;
                                padding-right: 7px;
                                color: #a6aebc;

                                &:hover {
                                    color: #ff5721;
                                }
                            }
                            
                        }
                    }
                }
            }
            .box-scroll-colcenter {
                position: absolute;
                top: 45px;
                overflow: auto;
                left: 0;
                right: 0;
                bottom: 0;
                overflow-x: hidden;
                // padding-bottom: 25px;
                padding: 10px 10px 25px 10px;
                bottom: 120px;
                background: #f5f5f5;
                border-top: 1px solid #ddd;

                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                    background-color: #F5F5F5;
                }
                &::-webkit-scrollbar {
                    width: 8px;
                    background-color: #F5F5F5;
                }
                &::-webkit-scrollbar-thumb {
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                    background-color: rgb(181, 181, 181);
                }
                .chatClass {
                    background-color: rgba(82,97,115,.1);
                    display: block;
                    padding: 3px 10px 5px;
                    border-radius: 5px;
                    float: left;
                    font-size: 14px;
                    max-width: 350px;
                    min-width: 150px;
                    color: #000;
                    border-bottom: 2px solid transparent;
                    position: relative;
                    margin-top: 5px;
                }
                .chatColorClass {
                    color: #fff;
                    margin: 0;
                    background-color: #009cde;
                    float: right;
                    display: block;
                    padding: 3px 10px 5px;
                    border-radius: 5px;
                    float: right;
                    font-size: 14px;
                    max-width: 350px;
                    min-width: 150px;
                    color: #000;
                    border-bottom: 2px solid transparent;
                    position: relative;
                    margin-top: 5px;
                }
            }
            .editer {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 120px;
                padding: 15px 10px 5px;
                background-color: #fff;
                border-top: 1px solid#ddd;

                .line1 {
                    textarea {
                        width: 100%;
                        border-radius: 4px;
                    }
                }
                .line2 {
                    .quick-replies-selector-container {
                        display: flex;
                        margin-top: 5px;

                        a {
                            margin: 0px 10px;

                            .inbox-compose-addons-item {
                                color: #8a94a6;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                padding: 2px 0;
                            }

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        button {
                            margin-left: auto;
                        }
                        
                    }
                }
            }
        }
        .col-right {
            padding: 10px 15px;
    
            .media-body {
                p {
                    padding-top: 5px;
                }
            }
        }
    }
}

* {
    font-size: 14px;

    p {
        margin: 0;
    }
}

.posts-layout {
    background: #fff;
    padding-top: 10px;

    .aos-all {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        width: 60%;
        max-width: 98%;
        margin: 0 auto 0 auto;

        .aos-item {
            position: relative;
            background-color: #fff;
            border: 1px solid #ccc;
            border-top: 5px solid #ccc;
            padding: 10px 15px 30px;
            margin: 10px;
            display: inline-block;
            float: left;

            &:hover {
                border-top: 2px solid #eee;
                border-bottom: 2px solid #eee;
                box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
                transform: scale(1.025);
                z-index: 2;
            }
            &:before {
                content: ""; 
                position: absolute; 
                top: -2px; 
                bottom: -2px; 
                width: 2px;    
            }
            &:before { 
                left: -2px; 
            }
            &:after { 
                right: -2px; 
            }
            .grid-header {
                border-bottom: 1px solid #ccc;
                padding-bottom: 5px;
                margin: 0 0 15px;

                span {
                    font-size: 12px;
                    color: #777;
                }
                b {
                    color: #009cde;
                }
            }
            .grid-picture {
                img {
                    max-height: 250px;
                    width: 100%;
                    margin-bottom: 10px;
                }
                ul {
                    margin: 0 0 10px;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    overflow: auto;

                    li {
                        display: inline-block;
                        margin-right: 5px;

                        img {
                            height: 50px;
                            width: 50px;
                        }
                    }

                    &::-webkit-scrollbar-track {
                        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                        background-color: #F5F5F5;
                    }
                    &::-webkit-scrollbar {
                        width: 8px;
                        height: 8px;
                        background-color: #F5F5F5;
                    }
                    &::-webkit-scrollbar-thumb {
                        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                        background-color: rgb(181, 181, 181);
                    }
                }
            }
            .grid-text {
                p {
                    margin: 0 0 10px;
                    max-height: 250px;
                    white-space: pre-wrap;
                    overflow: auto;

                    &::-webkit-scrollbar-track {
                        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                        background-color: #F5F5F5;
                    }
                    &::-webkit-scrollbar {
                        width: 8px;
                        height: 8px;
                        background-color: #F5F5F5;
                    }
                    &::-webkit-scrollbar-thumb {
                        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                        background-color: rgb(181, 181, 181);
                    }
                }
                    
            }
            .grid-footer {
                border-top: 1px solid #ccc;
                padding-top: 5px;
                // position: absolute;
                bottom: 0;
                left: 10px;
                right: 10px;
                height: 30px;
                letter-spacing: 5px;
                position: absolute;

                .pull-right {
                    i {
                        font-size: 20px;
                        color: #337ab7;
                    }
                }
            }
        }
    }
    .loading {
        button {
            margin-bottom: 20px;
            margin-top: 20px;
            padding: 5px 10px;
            border-radius: 2px;
            border: 0;
            color: #fff;
            background-color: #00a65a;
        }
    }
}


.page-item{
    background-color: #fff;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 10px;
    img{
        width: 100px;
        margin-right: 10px;
        border-radius: 5px;
    }
    a{
        text-decoration: unset;
        font-size: 20px;
        font-weight: bold;
        color: #333;
        &:hover{
            text-decoration: unset;
        }
    }
}

@media screen and (max-width: 800px) {
    .aos-item {
      width: 100%;
    }
}