
<div class="row posts-layout">
    <div id="transcroller-body" class="aos-all">
        <div class="aos-item" data-aos="fade-up" ng-repeat="item in vm.listPostsFb track by $index">
            <div class="aos-item__inner">
                <div class="grid-header">
                    <small>{{item.created_time | date:'dd-MM-yyyy'}}</small>
                    <span class="pull-right">ID: <b>{{item.id}}</b></span>
                </div>
                <div class="grid-picture">
                    <img src="{{item.full_picture}}" class="media-object circleImgClass">
                </div>
                <div class="grid-text">
                    <p>{{item.message}}</p>
                </div>
                <div class="grid-footer">
                    <div class="pull-right">
                        <i class="fa fa-inbox"></i>
                        <i class="fa fa-facebook-square"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-12 loading">
        <button class="center-block">Xem thêm</button>
    </div> -->
</div>

  <script>
    AOS.init({
      easing: 'ease-in-out-sine'
    });
  </script>